In [1]:
import pandas as pd
import numpy as np

In [8]:
# Membuat DataFrame dengan nama kolom Zahra, Lily, Dito, dan Naufal
data_frame = pd.DataFrame(np.random.randint(0, 100, size=(3, 4)), columns=['Zahra', 'Lily', 'Dito', 'Naufal'])

In [9]:
# Seluruh data dari DataFrame
print("Seluruh data dari Data Frame:")
print(data_frame)

Seluruh data dari Data Frame:
   Zahra  Lily  Dito  Naufal
0     19    55    77      14
1     72    93    89      44
2     91    73    52       0

In [4]:
# Menampilkan nilai dalam sel baris #1 dari kolom Lily (kelas A), kolom Naufal (kelas B), dan kolom Zahra (kelas C)
print("Nilai yang ada pada sel baris ke-1:")
print("Kelas A (Lily):", data_frame.loc[1, 'Lily'])
print("Kelas B (Naufal):", data_frame.loc[1, 'Naufal'])
print("Kelas C (Zahra):", data_frame.loc[1, 'Zahra'])
print()

Nilai dalam sel baris #1:
Kelas A (Lily): 55
Kelas B (Naufal): 3
Kelas C (Zahra): 78

In [5]:
# Membuat kolom kelima bernama Janet yang diisi dengan jumlah baris dari kolom Zahra dan Dito
data_frame['Janet'] = data_frame['Zahra'] + data_frame['Dito']

In [6]:
# Menampilkan DataFrame setelah menambahkan kolom Janet
print("Data Frame setelah ditambahkan kolom Janet:")
print(data_frame)

DataFrame setelah menambahkan kolom Janet:
   Zahra  Lily  Dito  Naufal  Janet
0     13    32    87      75    100
1     78    55    79       3    157
2     61    85    80      52    141